@import 'constants';



.product-modal {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 5%;
  overflow-y: scroll;

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.product-modal.show {
  opacity: 1;
  visibility: visible;
}

.close_modal {
  width: 5em;
  height: 5em;
  fill: red;
}

.modal-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.modal-title h1 {
  color: white;
  font-weight: 200;
  font-size: 26px;
}

.rowHeader {
  color: white;
  font-weight: 300;
}

.slider {
  padding: 0 5%;
  margin: 0 -5%;
  overflow-x: scroll;

  .sliderContent {
    padding: 10px 0;
    display: flex;
    overflow-x: visible;
  }
}
