@import 'constants';

.sidebar-container {
  z-index: 200;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 270px;
  background: white;
  border: 1px solid $lightgray;
  border-radius: 2px 0 0 2px;
  box-shadow: -4px 0 7px rgba(0, 0, 0, 0.2);
}
