@import 'constants';

.save-icon {
  position: absolute;
  top: 10px;
  left: 120px;
  &:visited {
    transform: scale(2);
    animation-duration: 500ms;
  }
}

.button {
  height: 36px;
  width: 100%;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  &.primary {
    background-color: $offwhite;
  }
}
