@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw; }

#mainContainer {
  position: relative; }

.viewer {
  max-height: 100vh;
  max-width: 100vw; }

.player {
  position: relative;
  width: 100%;
  max-width: 100vw; }

.controls {
  position: absolute;
  bottom: 10px;
  padding: 10px; }

.controls {
  height: 46px;
  width: 100%; }

.controls .progress {
  height: 8px;
  border-radius: 5px;
  background: #CFEDE8; }

.controls .fill {
  height: 100%;
  background: #5BC4B4; }

.product-modal {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 5%;
  overflow-y: scroll;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden; }

.product-modal.show {
  opacity: 1;
  visibility: visible; }

.close_modal {
  width: 5em;
  height: 5em;
  fill: red; }

.modal-title {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.modal-title h1 {
  color: white;
  font-weight: 200;
  font-size: 26px; }

.gridItem {
  background: rgba(43, 43, 43, 0.8);
  height: 230px;
  width: 150px;
  margin-right: 16px;
  margin-bottom: 20px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column; }
  .gridItem.gold {
    border-bottom: 5px solid #D3B380; }
  .gridItem.khaki {
    border-bottom: 5px solid #D9CFC3; }
  .gridItem.gray {
    border-bottom: 5px solid #C2C2C2; }
  .gridItem.magenta {
    border-bottom: 5px solid #DC6094; }
  .gridItem .info {
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 300;
    color: white;
    height: 100%; }
  .gridItem .title {
    margin: 0;
    font-size: 14px; }
  .gridItem .thumbContainer {
    background-color: white;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; }
  .gridItem img {
    width: 100%;
    max-height: 100%;
    object-fit: contain; }
  .gridItem .row2 {
    margin-top: 2px;
    font-size: 16px; }
  .gridItem .price:after {
    content: "";
    height: 100%;
    margin: 0 8px;
    border-right: 1px solid white; }

.rowHeader {
  color: white;
  font-weight: 300; }

.slider {
  padding: 0 5%;
  margin: 0 -5%;
  overflow-x: scroll; }
  .slider .sliderContent {
    display: flex;
    overflow-x: visible; }

.sliderContent .thumb-enter {
  opacity: 0.01; }

.sliderContent .thumb-enter.thumb-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.sliderContent .thumb-leave {
  opacity: 1; }

.sliderContent .thumb-leave.thumb-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in; }
