@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw; }

h2, h3, h4, h5, h6, p {
  margin: inherit; }

#mainContainer {
  position: relative;
  overflow: hidden; }

.viewer {
  max-height: 100vh;
  max-width: 100vw; }

.player {
  position: relative;
  max-width: 100vw;
  width: 100vw; }

.controls {
  position: absolute;
  bottom: 0;
  padding: 10px;
  height: 56px;
  width: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.8)); }
  .controls .progress {
    height: 5px;
    border-radius: 5px;
    background: #CFEDE8; }
    .controls .progress .fill {
      height: 100%;
      border-radius: 5px;
      background: #5BC4B4; }
  .controls .buttons {
    padding: 0 36px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 12px; }
    .controls .buttons .play {
      float: left;
      margin-right: 24px; }
    .controls .buttons .fullScreen {
      float: right;
      right: 10px; }
    .controls .buttons .volume {
      float: left;
      display: flex;
      align-items: center; }
      .controls .buttons .volume .scrub {
        margin-left: 16px;
        width: 60px;
        height: 5px;
        border-radius: 5px;
        background: #CFEDE8; }
        .controls .buttons .volume .scrub .fill {
          height: 100%;
          border-radius: 5px;
          background: #5BC4B4; }

.product-modal {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 5%;
  overflow-y: scroll;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden; }

.product-modal.show {
  opacity: 1;
  visibility: visible; }

.close_modal {
  width: 5em;
  height: 5em;
  fill: red; }

.modal-title {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.modal-title h1 {
  color: white;
  font-weight: 200;
  font-size: 26px; }

.gridItem {
  background: rgba(43, 43, 43, 0.8);
  height: 230px;
  width: 150px;
  margin-right: 16px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  transition: 200ms ease-in-out; }
  .gridItem.gold {
    border-bottom: 5px solid #D3B380; }
  .gridItem.khaki {
    border-bottom: 5px solid #D9CFC3; }
  .gridItem.gray {
    border-bottom: 5px solid #C2C2C2; }
  .gridItem.magenta {
    border-bottom: 5px solid #DC6094; }
  .gridItem:hover {
    transform: scale(1.05); }
  .gridItem.is-active-false {
    transition: 300ms ease-in;
    opacity: 0.2; }
  .gridItem.is-active-false:hover {
    opacity: 0.7; }
  .gridItem:active {
    transform: scale(1.1); }
  .gridItem .info {
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 300;
    color: white;
    height: 100%; }
  .gridItem .title {
    margin: 0;
    font-size: 14px; }
  .gridItem .thumbContainer {
    background-color: white;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; }
  .gridItem img {
    width: 100%;
    max-height: 100%;
    object-fit: contain; }
  .gridItem .row2 {
    margin-top: 2px;
    font-size: 16px; }
  .gridItem .price:after {
    content: "";
    height: 100%;
    margin: 0 8px;
    border-right: 1px solid white; }

.rowHeader {
  color: white;
  font-weight: 300; }

.slider {
  padding: 0 5%;
  margin: 0 -5%;
  overflow-x: scroll; }
  .slider .sliderContent {
    padding: 10px 0;
    display: flex;
    overflow-x: visible; }

.save-icon {
  position: absolute;
  top: 10px;
  left: 120px; }
  .save-icon:visited {
    transform: scale(2);
    animation-duration: 500ms; }

.button {
  height: 36px;
  width: 100%;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center; }
  .button.primary {
    background-color: #F7F7F7; }

.sidebar-container {
  z-index: 200;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 270px;
  background: white;
  border: 1px solid #E4E4E4;
  border-radius: 2px 0 0 2px;
  box-shadow: -4px 0 7px rgba(0, 0, 0, 0.2);
  transition: 300ms; }
  .sidebar-container.open-false {
    visibility: hidden;
    left: 100%; }
  .sidebar-container.open-true {
    transition-delay: 500ms;
    left: calc(100% - 270px);
    visibility: visible; }
  .sidebar-container .buttons {
    display: flex;
    flex-shrink: 0;
    z-index: 110;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #E4E4E4;
    width: 100%; }
  .sidebar-container .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative; }
  .sidebar-container .content {
    z-index: 101;
    padding: 16px 16px 0 16px;
    height: 100%; }
  .sidebar-container .header {
    width: 100%;
    display: flex;
    margin-bottom: 16px;
    justify-content: space-between; }
    .sidebar-container .header .text {
      font-size: 12px; }
    .sidebar-container .header img {
      margin: 2px 0 0 8px;
      align-self: flex-start; }
  .sidebar-container .images {
    margin-bottom: 16px;
    height: 120px; }
    .sidebar-container .images img {
      float: left;
      max-height: 100%;
      object-fit: contain;
      border: 1px solid #E4E4E4; }
    .sidebar-container .images .large {
      margin-right: 4px;
      width: 178px;
      height: 120px; }
    .sidebar-container .images .small {
      margin-bottom: 4px;
      width: 50px;
      height: 25%; }
  .sidebar-container .scroll {
    overflow-y: scroll; }
  .sidebar-container .price {
    font-size: 18px;
    margin: 8px 0; }
  .sidebar-container .description-wrapper {
    font-size: 12px; }
  .sidebar-container h4 {
    margin: 8px 0;
    text-transform: uppercase; }
